<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/slider/yuan.png"/>
    <title>IT boyuan - 关于平台</title>
</head>

<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/about.css"/>
<link rel="stylesheet" type="text/css" href="css/qichao-login.css"/>
<link rel="stylesheet" href="plugin/adminLTE/AdminLTE.css">
<link rel="stylesheet" href="plugin/adminLTE/_all-skins.min.css">
<link href="logo.ico" rel="shortcut icon"/>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="plugin/jquery.page.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript" src="js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/service/qcblogService.js"></script>
<script type="text/javascript" src="js/service/articleService.js"></script>
<script type="text/javascript" src="js/service/flinkService.js"></script>
<script type="text/javascript" src="js/service/userService.js"></script>
<script type="text/javascript" src="js/controller/baseController.js"></script>
<script type="text/javascript" src="js/controller/qcblogController.js"></script>
<body ng-app="qcblogs" ng-controller="qcblogController" ng-init="addNumber();userInfo()">
<div class="w_header" th:replace="/other/header :: o_header">
</div>
<div class="w_container">
    <div class="container">
        <div class="row w_main_row">

            <ol class="breadcrumb w_breadcrumb">
                <li><a href="/"><i class="glyphicon glyphicon-home"></i>&nbsp;首页</a></li>
                <li class="active"><i class="glyphicon glyphicon-user"></i>&nbsp;关于平台</li>
                <span class="w_navbar_tip">喜欢自由又怕堕落，想要放纵又怕寂寞！灵魂无处安放，所以选择流浪！</span>
            </ol>

            <div class="col-lg-9 col-md-9 w_main_left" style="height: 1000px;">
                <div class="about">
                    <h2>博苑平台介绍</h2>
                    <ul>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;看了很多博主的帖子，我深受鼓舞，自己也很想做一个博客网站。大二开学加入了大数据科研室，那个时候我是0基础，傻乎乎的不知如何入手。每天晚上学到10点，浑浑噩噩地度过了一个学期。感觉自己没有什么成就感，到了大二下学期。历届组长开始交接任务，而我成为了科研室开发小组的组长。至此，我觉得不能再浪费美好的青春了！紧接着，没多久，和同学两个人一起粗糙的做出了属于自己的第一个网站，虽然是帮学长做毕业设计。虽然不是那么完美，也不是那么带感，但是我没有再去浪费我的青春。
                            我想我大学毕业后会面临着各种压力。我再也不是一个为了一个目标而活着的人。经过两年在科研室的塑造，基本上了解了一个程序员的点点滴滴。直到今天无意中看到博主的文章，让我心里一震。一辈子也就是几十年的时间吧，如果不能把自己无限的精力投入到有限的青春中，追寻自己的梦，那么活着和喘气又有什么区别</p>
                    </ul>
                    <h2>平台推荐</h2>
                    <ul>
                        <p>域 名：www.zqcgo.cn 创建于2018年10月18日 <a href="https://cloud.tencent.com/" class="blog_link"
                                                              target="_blank">注册域名</a></p>
                        <p>服务器：腾讯云服务器<a href="https://cloud.tencent.com/" class="blog_link" target="_blank">购买空间</a></p>
                        <p>备案号：***************</p>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 w_main_right">
                <div class="about_c">
                    <p>毕业设计：<span>基于SpringBoot的IT博苑技术开放平台</span></p>
                    <p>作 者：赵起超 </p>
                    <p>出生日期：1998-10-18</p>
                    <p>邮 箱：bigdataqichao@gmail.com</p>
                    <p>籍 贯：河北省邢台市</p>
                    <p>工作地点：北京市海淀区东升科技园C2</p>
                    <p>技 能：JavaWeb开发</p>
                </div>
            </div>


        </div>
    </div>
</div>
<!--footer-->
<div class="w_foot" th:replace="/page/footer :: footer">
</div>
<!--toTop-->
<script type="text/javascript" src="js/totop.js"></script>
</body>
</html>