<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/slider/yuan.png"/>
    <title>IT boyuan - 关于平台</title>
</head>

<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/about.css"/>
<link rel="stylesheet" type="text/css" href="css/qichao-login.css"/>
<link rel="stylesheet" href="plugin/adminLTE/AdminLTE.css">
<link rel="stylesheet" href="plugin/adminLTE/_all-skins.min.css">
<link href="logo.ico" rel="shortcut icon"/>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="plugin/jquery.page.js"></script>
<script src="js/common.js"></script>
<script type="text/javascript" src="js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/service/qcblogService.js"></script>
<script type="text/javascript" src="js/service/articleService.js"></script>
<script type="text/javascript" src="js/service/flinkService.js"></script>
<script type="text/javascript" src="js/service/userService.js"></script>
<script type="text/javascript" src="js/controller/baseController.js"></script>
<script type="text/javascript" src="js/controller/qcblogController.js"></script>
<body ng-app="qcblogs" ng-controller="qcblogController" ng-init="addNumber();userInfo()">
<div class="w_header" th:replace="/other/header :: o_header">
</div>
<div class="w_container">
    <div class="container">
        <div class="row w_main_row">

            <ol class="breadcrumb w_breadcrumb">
                <li><a href="/"><i class="glyphicon glyphicon-home"></i>&nbsp;首页</a></li>
                <li class="active"><i class="glyphicon glyphicon-user"></i>&nbsp;关于平台</li>
                <span class="w_navbar_tip">喜欢自由又怕堕落，想要放纵又怕寂寞！灵魂无处安放，所以选择流浪！</span>
            </ol>

            <div class="col-lg-9 col-md-9 w_main_left" style="height: 1000px;">
                <div class="about">
                    <h2>博苑平台介绍</h2>
                    <ul>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;如今，网络社交已经成为现代信息传播的一种新形式、新媒介，与传统的社交方式不同，网络传播的途径多种多样，例如点对点、面对点、双向甚至多向的传播途径成为网络中重要的几种特征，博客便是其中表现形式之一。微博客的信息获取、舆论、公益活动等渠道是现在人们越来越关注的内容。博客平台作为本课题的重点研究内容，并与学校所学的软件工程、计算机技术、信息系统等课程的理论知识以及工作实习实践经验相结合，对其进行扩展开发和技术研究。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;其主要完成的工作与实现的功能如下：
                            <br>（1）使用SpringBoot主流框架完成平台后端开发环境的快速搭建，后续结合AngularJs框架实现前端与后端数据交互、双向绑定的简单操作。以便于为后面开发各种平台接口做技术支撑。
                            <br>（2）后端对已经开发完成的平台接口，测试其对数据库CRUD操作的响应速度。对响应时间久的接口进行调度分析，并对此进行迭代优化，最终降低到最小交互时长，目的是为了有效提高用户的体验度。
                            <br>（3）前端则为用户提供丰富且简约的响应式界面和可视化的后台管理系统。主要包括检索技术文章、查阅专题类别文章、发表自写文章、个人主页以及休闲娱乐等功能模块。后台管理则可以对自己的个人信息展示、自写文章、评论等进行增删改操作。
                            <br>（4）针对管理员角色也提供了一套简洁、操作方便的可视化响应式页，拥有用户管理、评论管理、文章审核、日志管理、权限管理等模块。
                            <br>（5）针对技术文章的持续更新需求，则通过WebMagic框架周期性地从各大正规平台如知乎、CSDN、博客园等等爬取最新技术文章。
                            <br>（6）为用户提供个性说说与评论留言两大反馈模块，为平台建设提供意见建议，让平台技术不断循环迭代改进与更新。</p>
                    </ul>
                    <h2>平台推荐</h2>
                    <ul>
                        <p>域 名：www.zqcgo.cn 创建于2018年10月18日 <a href="https://cloud.tencent.com/" class="blog_link"
                                                              target="_blank">注册域名</a></p>
                        <p>服务器：腾讯云服务器<a href="https://cloud.tencent.com/" class="blog_link" target="_blank">购买空间</a></p>
                        <p>备案号：***************</p>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 w_main_right">
                <div class="about_c">
                    <p>毕业设计：<span>基于SpringBoot的IT博苑技术开放平台</span></p>
                    <p>作 者：赵起超 </p>
                    <p>出生日期：1998-10-18</p>
                    <p>邮 箱：bigdataqichao@gmail.com</p>
                    <p>籍 贯：河北省邢台市</p>
                    <p>工作地点：北京市海淀区东升科技园C2楼</p>
                    <p>技 能：全栈工程师</p>
                </div>
            </div>


        </div>
    </div>
</div>
<!--footer-->
<div class="w_foot" th:replace="/page/footer :: footer">
</div>
<!--toTop-->
<script type="text/javascript" src="js/totop.js"></script>
</body>
</html>