<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/slider/yuan.png"/>
    <title>IT boyuan - 个人中心</title>
</head>
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/article.css"/>
<link rel="stylesheet" type="text/css" href="css/qichao-login.css"/>
<link rel="stylesheet" type="text/css" href="css/style.css"/>
<link rel="stylesheet" href="plugin/adminLTE/AdminLTE.css">
<link rel="stylesheet" href="plugin/adminLTE/_all-skins.min.css">

<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/service/articleService.js"></script>
<script type="text/javascript" src="js/service/flinkService.js"></script>
<script type="text/javascript" src="js/service/userService.js"></script>
<script type="text/javascript" src="js/service/qcblogService.js"></script>
<script type="text/javascript" src="js/service/uploadService.js"></script>
<script type="text/javascript" src="js/controller/baseController.js"></script>
<script type="text/javascript" src="js/controller/personalController.js"></script>
<body ng-app="qcblogs" ng-controller="personalController" ng-init="addNumber();userInfo()">
<div class="w_header" th:replace="/other/header :: o_header">
</div>
<div class="w_container">
    <div class="container">
        <div class="row w_main_row" sec:authorize="isAuthenticated()">
            <ol class="breadcrumb w_breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">个人中心</li>
                <span class="w_navbar_tip">欢迎来到博园平台，这是您的小家！</span>
            </ol>
            <div class="col-lg-9 col-md-9 w_main_left">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">个人资料</h3>
                    </div>
                    <div class="panel-body contentList">
                        <div class="panel panel-default w_article_item">
                            <div class="panel-body">
                                <div class="row">
                                    <h4 class="media-heading" style="margin-left: 35px;">
                                        <a class="title" href="#">主要信息</a>
                                    </h4>
                                    <hr style="margin-left: 30px;">
                                    <div class="col-xs-6 col-md-3">
                                        <a href="#" class="thumbnail w_thumbnail"
                                           style="width: 170px;height: 185px;border: 1px solid;">
                                            <img src="{{signinImage}}" alt="...">
                                        </a>
                                        <a class="w_list_overview personal" style="color: #3399ea;margin-left: 45px;margin-top: 20px;cursor: pointer">个性头像</a>
                                    </div>
                                    <p class="w_list_overview personal">账号ID: <span>{{signinId}}</span></p>
                                    <p class="w_list_overview personal">用户昵称:<span>{{signinName}}</span></p>
                                    <p class="w_list_overview personal">真实姓名:<span>{{signinTame}}</span></p>
                                    <a class="w_list_overview personal" ng-if="signinSex =='0'">性别: <span>男</span></a>
                                    <a class="w_list_overview personal" ng-if="signinSex =='1'">性别: <span>女</span></a>
                                    <p class="w_list_overview personal" ng-if="signinStatus=='0'">用户状态: <span>被限制访问</span></p>
                                    <p class="w_list_overview personal" ng-if="signinStatus=='1'">用户状态: <span>正常</span></p>
                                    <hr style="margin-left: 30px;">
                                </div>
                                <div class="row">
                                    <h4 class="media-heading" style="margin-left: 35px;">
                                        <a class="title" href="#">其他信息</a>
                                    </h4>
                                    <hr style="margin-left: 30px;">
                                    <p class="w_list_overview personal" style="margin-left: 65px;">绑定手机:<span>{{signinTelph}}</span></p>
                                    <p class="w_list_overview personal" style="margin-left: 65px;">绑定邮箱: <span>{{signinEmail}}</span></p>
                                    <p class="w_list_overview personal" style="margin-left: 65px;">所属行业: <span>{{signinIndus}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 w_main_right" style="margin-top: 12px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">权限信息</h3>
                    </div>
                    <div class="panel-body contentList">
                        <div class="panel panel-default w_article_item">
                            <div class="panel-body">
                                <div class="row">
                                    <p class="w_list_overview personal">发表文章 &nbsp;&nbsp;<a href="#" class="uparticle">{{signinCarticNum}}</a>
                                        个</p>
                                    <p class="w_list_overview personal">浏览文章 &nbsp;&nbsp;<a href="#" class="uparticle">{{signinViewNum}}</a>
                                        个</p>
                                    <p class="w_list_overview personal" style="height: 25px;margin-top: 10px;">最近登录 &nbsp;&nbsp;<a href="#" class="uparticle" style="font-size: 15px;">{{signinTime}}</a> </p>
                                    <p class="w_list_overview personal">访问次数 &nbsp;&nbsp;<a href="#" class="uparticle">{{userCount}}</a>次</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="updateToPersonal"><a href="/updateUser?id={{signinId}}">修改资料→</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!--footer-->
<div class="w_foot" th:replace="/page/footer :: footer">
</div>
<!--toTop-->
<script type="text/javascript" src="js/totop.js"></script>
</body>
</html>