<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/slider/yuan.png"/>
    <title>IT boyuan - 首页</title>
</head>
<link href="plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/qichao-login.css"/>
<link rel="stylesheet" href="plugin/adminLTE/AdminLTE.css">
<link rel="stylesheet" href="plugin/adminLTE/_all-skins.min.css">
<link rel="stylesheet" type="text/css" href="css/alert.css"/>
<link href="logo.ico" rel="shortcut icon"/>
<script type="text/javascript" src="js/angularjs/angular.min.js"></script>
<script src="plugin/jquery.min.js"></script>
<script src="plugin/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/service/qcblogService.js"></script>
<script type="text/javascript" src="js/service/flinkService.js"></script>
<script type="text/javascript" src="js/service/articleService.js"></script>
<script type="text/javascript" src="js/service/userService.js"></script>
<script type="text/javascript" src="js/controller/baseController.js"></script>
<script type="text/javascript" src="js/controller/qcblogController.js"></script>
<body ng-app="qcblogs" ng-controller="qcblogController" ng-init="addNumber();findFlinks();findArticles();listAll();findNames()">
<div class="w_header" th:replace="/index/header :: header">
</div>
<div class="w_container">
    <div class="container">
        <div class="row w_main_row">
            <div class="col-lg-9 col-md-9 w_main_left">
                <!--滚动图开始-->
                <div class="panel panel-default">
                    <div id="w_carousel" class="carousel slide w_carousel" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#w_carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#w_carousel" data-slide-to="1"></li>
                            <li data-target="#w_carousel" data-slide-to="2"></li>
                            <li data-target="#w_carousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="img/slider/cat.jpg" alt="...">
                                <div class="carousel-caption">
                                    <h3 style="color: #000">欢 迎 来 到 博 苑 技 术 开 放 平 台！</h3>
                                    <p style="color: #000;font-size: 20px;">Welcome to my blog world!</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="img/slider/boy.jpg" alt="...">
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="img/slider/kulou.jpg" alt="...">
                                <div class="carousel-caption">
                                    <p style="font-size: 20px;">每天醒来都有两个选择，继续做梦或起身追逐梦想</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="img/slider/bo4.jpg" alt="...">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#w_carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#w_carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>

                <div class="panel panel-default contenttop" ng-repeat="noticeLabel in noticelist" ng-if="noticeLabel.nttype=='作者推荐'">
                    <a href="/detail" ng-if="noticeLabel.ntstatus==1 || noticeLabel.ntstatus==2">
                        <strong>博苑置顶</strong>
                        <h3 class="title">{{noticeLabel.ntname}}</h3>
                        <p class="overView">
                            {{noticeLabel.ntcontent}}</p>
                    </a>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">博苑主页</h3>
                    </div>

                    <div class="panel-body">

                        <!--文章列表开始-->
                        <div class="contentList">
                            <div class="panel panel-default">
                                <div class="panel-body" ng-repeat="articleOne in articles"
                                     ng-if="articleOne.atype=='博苑主页'">
                                    <div class="contentleft" ng-if="articleOne.status==1">
                                        <h4><a class="title" href="/article">{{articleOne.atname}}</a></h4>
                                        <p>
                                            <a class="label label-default">{{articleOne.atpre}}</a>
                                            <a class="label label-default">{{articleOne.atpos}}</a>
                                        </p>
                                        <p class="overView">{{articleOne.atcontent}}</p>
                                        <p><span class="count"><i class="glyphicon glyphicon-user"></i><a
                                                href="/detail" ng-repeat="autorName in userArticles" ng-if="autorName.id == articleOne.id">{{autorName.username}}</a></span> <span class="count"><i
                                                class="glyphicon glyphicon-eye-open"></i>阅读:{{articleOne.atnumber}}</span><span
                                                class="count"><i class="glyphicon glyphicon-time"></i>{{articleOne.ctime}}</span>
                                        </p>
                                    </div>
                                    <div class="contentImage">
                                        <div class="row">
                                            <a href="/detail" class="thumbnail w_thumbnail">
                                                <img src="{{articleOne.atimg}}" alt="...">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--文章列表结束-->

                    </div>
                </div>
            </div>

            <!--左侧开始-->
            <div class="col-lg-3 col-md-3 w_main_right">
                <div class="panel panel-default sitetip">
                    <a href="/detail" ng-repeat="noticePub in noticelist" ng-if="noticePub.nttype=='平台共享'">
                        <strong>博苑公示栏</strong>
                        <h3 class="title" ng-if="noticePub.ntstatus==2 || noticePub.ntstatus==1">{{noticePub.ntname}}</h3>
                        <p class="overView"><b>姓名:</b>赵起超<br><b>手机号:</b>18732336429<br><b>职业:</b>学生<br><b>Google
                            Chrome:</b> bigdataqichao@gmail.com<br> <b>所在地:</b>河北省邢台市<br><b>专业:</b>信息管理与信息系统</p>
                    </a>
                </div>
                <div class="panel panel-default" style="padding-bottom: 50px;">
                    <div class="panel-heading">
                        <h3 class="panel-title">热门技术标签</h3>
                    </div>
                    <div class="panel-body" style="margin-bottom: -61px;" ng-repeat="flinkLabel in flinks"
                         ng-if="flinkLabel.fltype=='热门技术标签'">
                        <div class="labelList" ng-if="flinkLabel.flstatus==1">
                            <a class="label label-default" href="{{flinkLabel.flink}}" target="_blank">{{flinkLabel.flname}}</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">程序员必学笔记</h3>
                    </div>
                    <div class="panel-body" style="padding-bottom: 0px;" ng-repeat="flinkNote in flinks"
                         ng-if="flinkNote.fltype=='程序员必学笔记'">
                        <ul class="list-unstyled sidebar" style="margin-top: -15px;" ng-if="flinkNote.flstatus==1">
                            <li>
                                <a href="{{flinkNote.flink}}" target="_blank">{{flinkNote.flname}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">友情链接</h3>
                    </div>
                    <div class="panel-body" style="padding-bottom: 0px;" ng-repeat="flinkOne in flinks"
                         ng-if="flinkOne.fltype=='友情链接'">
                        <div class="newContent" style="margin-top: -10px;"
                             ng-if="flinkOne.flstatus==1">
                            <ul class="list-unstyled sidebar shiplink">
                                <li>
                                    <a href="{{flinkOne.flink}}" target="_blank">{{flinkOne.flname}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">微信扫码关注作者</h3>
                    </div>
                    <div class="panel-body">
                        <img src="img/slider/qcblog.png" style="height: 230.5px;width: 230.5px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="w_foot" th:replace="/page/footer :: footer">
</div>
<script type="text/javascript" src="js/totop.js"></script>
<script type="text/javascript" src="js/pages/alert.js"></script>
</body>
</html>