<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/slider/yuan.png"/>
    <title>IT boyuan - 专题分类</title>
</head>
<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/article.css"/>
<link rel="stylesheet" type="text/css" href="css/qichao-login.css"/>
<link rel="stylesheet" href="plugin/adminLTE/AdminLTE.css">
<link rel="stylesheet" href="plugin/adminLTE/_all-skins.min.css">
<link href="logo.ico" rel="shortcut icon"/>
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angularjs/angular.min.js"></script>
<!--分页组件开始-->
<script src="js/angularjs/pagination.js"></script>
<link rel="stylesheet" href="js/angularjs/pagination.css">
<!-- 分页组件结束 -->
<script type="text/javascript" src="js/base_pagination.js"></script>
<script type="text/javascript" src="js/service/qcblogService.js"></script>
<script type="text/javascript" src="js/service/articleService.js"></script>
<script type="text/javascript" src="js/service/flinkService.js"></script>
<script type="text/javascript" src="js/service/userService.js"></script>
<script type="text/javascript" src="js/controller/baseController.js"></script>
<script type="text/javascript" src="js/controller/qcblogController.js"></script>
<body ng-app="qcblogs" ng-controller="qcblogController" ng-init="addNumber();findFlinks();findNames();findSubList()">
<div class="w_header" th:replace="/other/header :: o_header">
</div>
<div class="w_container">
    <div class="container">
        <div class="row w_main_row">
            <ol class="breadcrumb w_breadcrumb">
                <li><a href="/"><i class="glyphicon glyphicon-home"></i>&nbsp;首页</a></li>
                <li class="active"><i class="glyphicon glyphicon-map-marker"></i>&nbsp;专题分类</li>
                <span class="w_navbar_tip">希望能找到您喜欢并且对您有帮助的技术文章！</span>
            </ol>
            <div class="col-lg-9 col-md-9 w_main_left">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center;">
                        <button class="panel-title" style="border: none;background: none;outline: 0ch;">Java专题</button>
                        <button class="panel-title" style="border: none;background: none;outline: 0ch;">Python专题
                        </button>
                        <button class="panel-title" style="border: none;background: none;outline: 0ch;">区块链专题</button>
                        <button class="panel-title" style="border: none;background: none;outline: 0ch;">Spring专题
                        </button>
                        <button class="panel-title" style="border: none;background: none;outline: 0ch;">教育专题</button>
                        <button class="panel-title" style="border: none;background: none;outline: 0ch;">论坛专题</button>
                        <button class="panel-title" style="border: none;background: none;outline: 0ch;">中台专题</button>
                        <button class="panel-title" style="border: none;background: none;outline: 0ch;">其他专题</button>
                    </div>
                    <div class="panel-body contentList">
                        <div style="text-align: center;font-size: 20px;margin: 20px 0;"
                             sec:authorize="!isAuthenticated()">亲，只有在登录之后才能查阅专题页哦!
                        </div>
                        <div class="panel panel-default w_article_item" sec:authorize="isAuthenticated()">
                            <div class="panel-body">
                                <div class="row" ng-repeat="entity in subCutDetail">
                                    <h4 class="media-heading" style="margin-left: 35px;">
                                        <a class="title" href="#">{{entity.name}}</a>
                                    </h4>
                                    <hr style="margin-left: 30px;">
                                    <div class="col-xs-6 col-md-3">
                                        <a href="#" class="thumbnail w_thumbnail"
                                           style="width: 170px;height: 185px;border: 1px solid;">
                                            <img src="{{entity.atimg}}"
                                                 onerror="{this.src='../img/errorbg_lucency.png'}"
                                                 alt="...">
                                        </a>
                                    </div>
                                    <h4 class="media-heading">
                                        <a class="title" href="/articles?atname={{entity.atname}}">{{entity.atname}}</a>
                                        <button style="border: 1px solid #dcdfe6;outline: 0;border-radius: 4px;background-color: #409eff;margin-left: 10px">
                                            <a style="color: #fff;text-align: center;text-decoration:none;font-family: monospace;" href="/Article/exportArticleOne?atname={{entity.atname}}">文章导出</a>
                                        </button>
                                    </h4>
                                    <p><a class="label label-default">{{entity.atpre}}</a><a
                                            class="label label-default">{{entity.atpos}}</a></p>
                                    <p class="w_list_overview overView" th:utext="${'{{entity.atcontent}}'}"></p>
                                    <!--<div class="feed">
                                        <div class="heartAnimation" id="like" rel="like"
                                             ng-click="getLike(entity.id)"></div>
                                        <div class="likeCount" id="likeCount">{{entity.likenumber}}</div>
                                    </div>-->
                                    <p class="count_r"><span class="count"><i class="glyphicon glyphicon-user"></i><a
                                            href="#"><span ng-repeat="autorName in userArticles"
                                                           ng-if="autorName.id == entity.id">{{autorName.username}}</span></a></span>
                                        <span
                                                class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:{{entity.atnumber}}</span><span
                                                class="count"><i class="glyphicon glyphicon-time"></i>发表日期:{{entity.ctime}}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 w_main_right" style="margin-top: 12px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">程序员必学笔记</h3>
                    </div>
                    <div class="panel-body" style="padding-bottom: 0px;" ng-repeat="flinkNote in flinks"
                         ng-if="flinkNote.fltype=='程序员必学笔记'">
                        <ul class="list-unstyled sidebar" style="margin-top: -15px;" ng-if="flinkNote.flstatus==1">
                            <li>
                                <a href="{{flinkNote.flink}}" target="_blank">{{flinkNote.flname}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="w_foot" th:replace="/page/footer :: footer">
</div>
<!--totop-->
<script type="text/javascript" src="js/totop.js"></script>
</body>
</html>