<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/slider/yuan.png"/>
    <title>IT boyuan - 专 题 分 类</title>
</head>
<link href="plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/qichao-login.css"/>
<link rel="stylesheet" href="plugin/adminLTE/AdminLTE.css">
<link rel="stylesheet" href="plugin/adminLTE/_all-skins.min.css">
<link href="logo.ico" rel="shortcut icon"/>
<script type="text/javascript" src="js/angularjs/angular.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/service/qcblogService.js"></script>
<script type="text/javascript" src="js/service/articleService.js"></script>
<script type="text/javascript" src="js/service/flinkService.js"></script>
<script type="text/javascript" src="js/service/userService.js"></script>
<script type="text/javascript" src="js/controller/baseController.js"></script>
<script type="text/javascript" src="js/controller/qcblogController.js"></script>
<body ng-app="qcblogs" ng-controller="qcblogController" ng-init="addNumber()">
<div class="w_header" th:replace="/other/header :: o_header">
</div>
开发中。。。
<div class="w_foot" th:replace="/page/footer :: footer">
</div>
<!--totop-->
<script type="text/javascript" src="js/totop.js"></script>
</body>
</html>