<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="shortcut icon" href="img/slider/yuan.png"/>
    <title>IT boyuan - 登录失败</title>
</head>
<body>
<span style="position: relative;top:50px;left:50px;font-size: 16px;font-family:'宋体';font-weight: 600;">亲，您输入的用户名或密码有误！请返回&nbsp;<a
        th:href="@{/userlogin}" style="text-decoration: none;font-size: 20px;">登录</a>&nbsp;重新尝试！</span>
</body>
</html>