<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博苑后台管理系统</title>
</head>
<body>
<aside class="col-sm-3 col-md-2 col-lg-2 sidebar" th:fragment="nav">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/main"><span
                style="font-size: 18px;margin-left: 40px;color: #FFFFFF;cursor: pointer;"><span
                class="glyphicon glyphicon-cloud">&nbsp;平台数据报告</span></span></a></li>
    </ul>
    <hr style="margin-bottom: 0px;margin-top: 0px;width: 210px">
    <ul class="nav nav-sidebar">
        <li class="dropdown"><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><span
                class="glyphicon glyphicon-user ">&nbsp;平台用户管理<span class="caret"></span></span></a>
            <ul class="dropdown-menu" aria-labelledby="userMenu">
                <li><a href="/manageuser"><span class="glyphicon glyphicon-list-alt" style="cursor: pointer;">&nbsp;用户列表</span></a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a href="/loginlog"><span class="glyphicon glyphicon-save-file" style="cursor: pointer;">&nbsp;登录日志</span></a>
                </li>
            </ul>
        </li>
        <li><a href="/article"><span class="glyphicon glyphicon-book">&nbsp;技术文章管理</span></a></li>
        <li><a href="/flink"><span class="glyphicon glyphicon-random">&nbsp;友情链接管理</span></a></li>
        <li><a href="/talk"><span class="glyphicon glyphicon-headphones">&nbsp;个性说说管理</span></a></li>
        <li><a href="/category"><span class="glyphicon glyphicon-film">&nbsp;导航功能管理</span></a></li>
        <li><a href="/notice"><span class="glyphicon glyphicon-bell">&nbsp;通知公告管理</span></a></li>
    </ul>
    <hr style="margin-bottom: 0px;margin-top: 0px;width: 210px">
    <ul class="nav nav-sidebar">
        <li class="dropdown"><a class="dropdown-toggle" id="settingMenu" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><span
                class="glyphicon glyphicon-wrench">&nbsp;权限管理<span class="caret"></span></span></a>
            <ul class="dropdown-menu" aria-labelledby="settingMenu">
                <li><a href="/setings" class="glyphicon glyphicon-lock">&nbsp;用户权限</a></li>
                <li><a href="/readset" class="glyphicon glyphicon-eye-open">&nbsp;阅读权限</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-toggle="modal" data-target="#areDeveloping"><span
                        class="glyphicon glyphicon-option-horizontal"></span></a></li>
                <li role="separator" class="divider"></li>
                <!--<li class="disabled"><a>扩展菜单</a></li>-->
            </ul>
        </li>
    </ul>
    <hr style="margin-bottom: 0px;margin-top: 0px;width: 210px">
    <ul class="nav nav-sidebar">
        <li><a href="#"><span class="glyphicon glyphicon-retweet">&nbsp;博苑平台架构</span></a></li>
       <!-- <li class="dropdown"><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><span
                class="glyphicon glyphicon-globe">&nbsp;平台架构<span class="caret"></span></span></a>
            <ul class="dropdown-menu" aria-labelledby="otherMenu">
                <li><a data-toggle="modal" data-target="#areDeveloping"><span
                        class="glyphicon glyphicon-retweet">&nbsp;平台架构</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog">&nbsp;系统配置</span></a></li>
            </ul>
        </li>-->
    </ul>
</aside>
</body>
</html>