<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="img/slider/chao.png" />
	<title>QiChao's blog</title>
	<style>
		.button {
			width: 150px;
			height: 30px;
			transition: all 0.5s;
			cursor: pointer;
			margin: 5px;
			margin-left: 1007px;
			color: #0a789b;
			border-radius: 10px;
			text-shadow: 0px 0px 1px;
		}
		.button span {
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
		}
		.button span:after {
			content: '»';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -20px;
			transition: 0.5s;
		}
		.button:hover span {
			padding-right: 20px;
		}
		.button:hover span:after {
			opacity: 1;
			right: 0;
		}
		.content{
			animation: change 3s linear 0s infinite;
			text-indent: 28px;
		}
		@keyframes change {

			0% {color: #a7af0b;}

			50% {color: #d00a17;}

			100% {color: #3466bd;}
		}
	</style>
</head>

<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/moodList.css"/>
<link rel="stylesheet" type="text/css" href="css/new.css" />
<!--<link rel="stylesheet" href="plugin/jquery.page.css">-->
<link href="logo.ico" rel="shortcut icon"/>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="plugin/jquery.page.js"></script>-->
<script type="text/javascript" src="js/angularjs/angular.min.js">  </script>
<script src="js/common.js"></script>
<script type="text/javascript" src="js/layui/layui.js"></script>
<!--<script src="js/snowy.js"></script>-->
<!--<script type="text/javascript">
	
$(function(){
	$("#page").Page({
	  totalPages: 7,//分页总数
	  liNums: 5,//分页的数字按钮数(建议取奇数)
	  activeClass: 'activP', //active 类样式定义
	  callBack : function(page){
			//console.log(page)
	  }
  });
})
</script>-->
<!--分页组件开始-->
<script src="js/angularjs/pagination.js"></script>
<link rel="stylesheet" href="js/angularjs/pagination.css">
<!-- 分页组件结束 -->
<script type="text/javascript" src="js/base_pagination.js"> </script>
<script type="text/javascript" src="js/service/talkService.js">  </script>
<script type="text/javascript" src="js/service/uploadService.js">  </script>
<script type="text/javascript" src="js/controller/baseController.js">  </script>
<script type="text/javascript" src="js/controller/talkController.js">  </script>
<body  ng-app="qcblogs" ng-controller="talkController" ng-init="addNumber()">
<div class="w_header">
	<div class="container">
		<div class="w_header_top">
			<a href="#" class="w_logo"></a>

			<nav class="navbar navbar-default" style="background-color: transparent;border-color: transparent;">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<span class="w_header_nav">
									<ul class="nav navbar-nav">
										<li><a href="/" class="active">首页</a></li>
										<!--<li><a href="/">学习</a></li>-->
										<li><a href="/article">文章</a></li>
										<li><a href="/play">娱乐</a></li>
										<li><a href="/moodList">说说</a></li>
										<li><a href="/comment">留言</a></li>
										<li><a href="/about">关于</a></li>

									</ul>

									<!--<div class="w_search hidden-xs">
										<div class="w_searchbox">
											<input type="text" placeholder="search" />
											<button>搜索</button>
										</div>
									</div>-->
								</span>
					</div>
					<div ><span style="color: #FFFFFF;position: absolute;right: 100px;top: 20px;">博客已有{{numbers}}人访问</span></div>
					<div class="login" sec:authorize ="!isAuthenticated()"><a th:href="@{/userlogin}" style="color:#fff;">登录</a></div>
					<div class="login" sec:authorize ="isAuthenticated()"><a th:href="@{#}" style="color:#fff;">欢迎您，<span sec:authentication="name"></span></a>
						<form th:action="@{/signout}" th:method="get" style="background-image: url(img/xin.png);background-size: contain;width: 60px;    position: absolute;right: 0;">
							<input th:type="submit" th:value="注销" style="border: none;background-color: transparent;color: #000000"/>
						</form>
					</div>
				</div>

			</nav>




		</div>
	</div>
</div>
	<div class="w_container">
		<div class="container">
			<div class="row w_main_row">
				<ol class="breadcrumb w_breadcrumb">
				  <li><a href="/">首页</a></li>
				  <li class="active">说说</li>
				  <span class="w_navbar_tip">愿余生有人陪你烈酒穿肠只笑不哭，可今后无人许我清风明月不再孤苦。</span>
				</ol>
					
            <button class="button" data-toggle="modal" data-target="#editModal" style="vertical-align:middle" ng-click="entity={};"><span>新增MoodTalk</span></button>
			<div class="bloglist" ng-repeat="entity in talks" ng-if="entity.status==1">
				
			    <ul class="arrow_box">
			     <div class="sy">
				<img alt="" src="{{entity.tkimg}}">
					 <p  style="margin-bottom: -5px;margin-top: 10px;font-weight: 600;font-size: 28px;text-shadow: 2px 1px 2px #8a6d3b;font-family: 楷体;">{{entity.tktitle}}</p>
					 <b><hr style="margin-top: 0px;margin-bottom: 10px;border: 1px solid #968d8d;"></b>
			      <p class="content"> {{entity.tkcontent}}</p>
			     </div>
		      	<!--<p class="bloglist_count"><span class="count"><i class="glyphicon glyphicon-user"></i><a href="#">admin</a></span> <span class="count"><i class="glyphicon glyphicon-eye-open"></i>阅读:22</span><span class="count"><i class="glyphicon glyphicon-comment"></i>评论:0</span></p>-->
			      <span class="dateview">{{entity.ctime}}</span>
			    </ul>
			    
		  </div>

				<tm-pagination conf="paginationConf"></tm-pagination>

			</div>
		</div>
	</div>
	<div class="w_foot">
		<div class="w_foot_copyright">Copyright © 2020-2019, www.zqcgo.cn. All Rights Reserved. </div>
	</div>
	<!--toTop-->
	<div id="shape">
		<div class="shapeColor">
			<div class="shapeFly">
			</div>
		</div>
	</div>
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">新增说说</h3>
			</div>
			<div class="modal-body">
				<table class="table table-bordered table-striped"  width="800px">
					<tr>
					<td>主题</td>
					<td><input  class="form-control" placeholder="Title" ng-model="entity.talktitle">  </td>
				</tr>
					<tr>
						<td>说说背景图片</td>
						<td>
							<input type="file" id="file" name="fileName">
							<button ng-click="uploadFile()" id="url">上传</button>
                                <img alt="" src="{{entity.tkimg}}" style="margin-left: 200px;" width="200px" height="100px">
					</tr>
					<tr>
						<td>说说内容</td>
						<td><textarea  class="form-control" style="height: 150px;" placeholder="talkcontent" ng-model="entity.tkcontent"> </textarea> </td>
					</tr>
					<tr>
						<td>上传日期</td>
						<td><input  readonly="readonly" class="form-control" placeholder="自动获取当前时间戳" ng-model="entity.ctime">  </td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
		</div>
	</div>
</div>

	<!--snow-->
	<!--<div class="snow-container"></div>-->
</body>
</html>