<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>起超的喂青蛙小游戏</title>
  <link rel="shortcut icon" href="img/slider/chao.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
 <link rel="stylesheet" href="frog/frog-css/qichao.css">
    <script src="frog/frog-js/prefixfree.min.js"></script>

</head>

<body>

  <div class="environment">
  <div class="sky"></div>
  <div class="stars"></div>
  <div class="sun"></div>
  <div class="moon"></div> 
  <div class="mountains">
    <div class="mountain">
      <div class="trees">
        <div class="tree"></div>
        <div class="tree tree--2"></div>
        <div class="tree tree--3"></div>
        <div class="tree tree--4"></div>
      </div>
    </div>
    <div class="mountain mountain--2"></div> 
  </div>
  <div class="water"></div>
  <div class="lily lilly-1"></div>
</div>

<div class="player">
  
  <div class="legs">
    <div class="leg leg--left">
    </div>
    <div class="leg leg--right">
    </div>
  </div>
  
  <div class="body">
    <div class="crown"></div>
    <div class="belly"></div>
    <div class="arms">
      <div class="arm arm--left">
        <div class="hand">
          <div class="toe"></div>
          <div class="toe"></div>
          <div class="toe"></div>
        </div>
      </div>
      <div class="arm arm--right">
        <div class="hand">
          <div class="toe"></div>
          <div class="toe"></div>
          <div class="toe"></div>
        </div>
      </div>
    </div>
    <div class="mouth">
      <div class="top-lip"></div>
      <div class="bottom-lip"></div>
      <div class="tongue">
        <div class="tongue-inner">
          <div class="fly is-dead"></div>
        </div>
      </div>
    </div>
    <div class="eyes">
      <div class="eye eye--left">
        <div class="pupil"></div>
      </div>
      <div class="eye eye--right">
        <div class="pupil"></div>
      </div>
    </div>
  </div>
</div>

<div class="screen menu">
  <h1>喂青蛙</h1>
  <a href="#" class="btn play" onClick="play()">
    <span class="text">开始</span>
    <br>
    <span>最好: <span class="js-best">0</span></span>
  </a>
  <a href="#" class="btn" onClick="settings()">设置</a>
</div>

<div class="screen game">
  <div class="hud">
    <div class="time">
      <span class="label">时间</span>
      <span class="value js-time">30</span>
    </div>

    <div class="score">
      <span class="label">分数</span>
      <span class="value js-score">0</span>
    </div>
  </div>
  
  <div class="flies">
    <div class="path">
      <div class="target">
        <div class="fly"></div>
      </div>
    </div>
    <div class="path">
      <div class="target">
        <div class="fly"></div>
      </div>
    </div>
    <div class="path">
      <div class="target">
        <div class="fly"></div>
      </div>
    </div>
    <div class="path">
      <div class="target">
        <div class="fly"></div>
      </div>
    </div>
    <div class="path">
      <div class="target">
        <div class="fly"></div>
      </div>
    </div>
    <div class="path">
      <div class="target">
        <div class="fly"></div>
      </div>
    </div>
  </div>
 
  
</div>

<div class="screen win">
  <h1>完成</h1> 
  <div class="card">
    <h3 class="highscore js-highscore is-hidden">新高分！</h3>
    
    <div class="score">
      <span class="label">分数</span>
      <span class="value js-score">30</span>
    </div>

    <div class="best">
      <span class="label">最好</span>
      <span class="value js-best">0</span>
    </div>
    
  </div>
  <a href="#" class="btn" onClick="play()">再玩一次</a>
  <a href="#" class="btn btn--clear" onClick="menu()">返回菜单</a>
</div>

<div class="screen settings">
  <h1>设置</h1>
  
  <div class="card">
    <label class="checkbox">
      <input type="radio" name="theme" value="light" checked onClick="toggleTheme(this.value)">
      <span>白天时间</span>
    </label>
    <label class="checkbox">
      <input type="radio" name="theme" value="dark" onClick="toggleTheme(this.value)">
      <span>晚上时间</span>
    </label>
  </div>
  
  <a href="#" class="btn js-toggle-music" onClick="toggleMusic()">打开音乐</a>
  
  <a href="#" class="btn" onClick="menu()">返回</a>
</div>

<div class="screen scoreboard">
  <h1>记分牌</h1>
  <div class="card">
    <ol class="scoreboard-list js-scoreboard"></ol>
  </div>
  
  <a href="#" class="btn" onClick="menu()">返回</a>
</div>

<audio id="music" src="https://www.dl-sounds.com/wp-content/uploads/edd/2015/09/Ducky-Duck-preview.mp3"></audio>
  
  

<script  src="frog/frog-js/index.js"></script>




</body>

</html>
