<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/slider/yuan.png"/>
    <title>IT boyuan - 博 苑 推 荐</title>
</head>

<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/common.css"/>
<link rel="stylesheet" type="text/css" href="css/article_detail.css"/>
<link rel="stylesheet" type="text/css" href="css/qichao-login.css"/>
<link rel="stylesheet" href="plugin/adminLTE/AdminLTE.css">
<link rel="stylesheet" href="plugin/adminLTE/_all-skins.min.css">
<link href="logo.ico" rel="shortcut icon"/>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angularjs/angular.min.js"></script>
<!--<script type="text/javascript" src="plugin/jquery.page.js"></script>-->
<script src="js/common.js"></script>
<!--<script src="js/snowy.js"></script>-->

<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/service/articleService.js"></script>
<script type="text/javascript" src="js/service/flinkService.js"></script>
<script type="text/javascript" src="js/service/userService.js"></script>
<script type="text/javascript" src="js/service/uploadService.js"></script>
<script type="text/javascript" src="js/controller/baseController.js"></script>
<script type="text/javascript" src="js/controller/articleController.js"></script>
<body ng-app="qcblogs" ng-controller="articleController" ng-init="addNumber();findFlinks()">
<div class="w_header" th:replace="/other/header :: o_header">
</div>
<div class="w_container">
    <div class="container">
        <div class="row w_main_row">
            <ol class="breadcrumb w_breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="/article">文章</a></li>
                <li class="active">作者推荐</li>
                <span class="w_navbar_tip">喜欢你，像风走了八万里，不问归期。</span>
            </ol>
            <div class="col-lg-9 col-md-9 w_main_left">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2 class="c_titile">毕设服务器选型</h2>
                        <p class="box_c"><span class="d_time">发布时间：2019-02-05</span><span>编辑：<a
                                href="mailto:1416537683@qq.com">JavaWeb-起超</a></span><span>阅读（{{numbers}}）</span></p>
                        <ul class="infos">
                            <p>之前服务器放在学校机房，
                                联通用户访问速度很不稳定，经常出现访问速度慢的问题，换到腾讯云解决了之前的问题。很多人都问我的博客选得什么空间，一年的费用得多少钱，今天我列个表出来，供大家参考。</p>
                            <p>&nbsp;<img src="img/slider/tengxun.png" alt="个人博客腾讯云空间选择" width="700" height="886"></p>
                            <p>对于访问量不大，小型网站带宽可以选择1M的，对于学生套餐的话，每个月才<span class="cny"
                                                                        style="margin: 0px 1px; padding: 0px; border: 0px; font-family: Arial; line-height: 20px; font-size: 20px; vertical-align: baseline; color: rgb(255, 102, 0); white-space: nowrap;">¥</span><span
                                    class="money"
                                    style="margin: 0px; padding: 0px; border: 0px; font-family: 微软雅黑, 'Microsoft Yahei', 'Hiragino Sans GB', tahoma, arial, 宋体; line-height: 20px; font-size: 20px; vertical-align: baseline; color: rgb(255, 102, 0); white-space: nowrap;">10</span>一年也就120块钱，每天投入也就0.3元。
                            </p>
                            <p><img src="img/slider/tengxun2.png" alt="个人博客腾讯云空间选择"></p>
                            <p><strong>1、为什么选Linux？</strong></p>
                            <p>
                                程序用PHP，速度快，配置低（windows必选1G的内存Linux选512MB能同样达到要求）。Linux的系统安全性非常高。Linux服务器的维护与扩展到性价比和性能都高于Windows。</p>
                            <p>1) 最流行的服务器端操作系统，强大的安全性和稳定性</p>
                            <p>2) 免费且开源，轻松建立和编译源代码</p>
                            <p>3) 通过SSH方式远程访问您的云服务器</p>
                            <p>4) 一般用于高性能web等服务器应用，支持常见的PHP/Python等编程语言，支持MySQL等数据库（需自行安装)</p>
                            <p><strong>2、操作系统为什么选CentOS 安全加固版（推荐）？</strong></p>
                            <p>在原
                                CentOS镜像的基础上，系统进一步安全加固，安装了阿里云独有的入侵防御系统，系统中会出现aegis进程，该系统增加了实时后门，Webshell检测，更加智能的暴力破解防御和多种入侵行为监控，让服务器更加安全可靠。</p>
                            <p><a href="https://cloud.tencent.com/" target="_blank"><strong><span
                                    style="color: rgb(0, 0, 255);">前往腾讯云官网购买&gt;&gt;</span></strong></a></p>
                            <p>&nbsp;</p>
                            <p align="center" class="pageLink"></p>
                        </ul>

                        <div class="keybq">
                            <p><span>关键字</span>：<a class="label label-default">个人博客</a><a class="label label-default">腾讯云</a><a
                                    class="label label-default">空间</a></p>
                        </div>
                        <div class="nextinfo">
                            <p class="last">上一篇：<a href="/articles"
                                                   ng-click="findOne('使用 Nginx 实现 tomcat、glassfish 等 web 服务器负载均衡')"></a>使用
                                Nginx 实现 tomcat、glassfish 等 web 服务器负载均衡</p>
                            <p class="next">下一篇：<a href="/articles" ng-click="findOne('排序算法之冒泡排序 － java实现')">排序算法之冒泡排序 －
                                java实现</a></p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <center>
                            <div id="cyReward" role="cylabs" data-use="reward"
                                 sid="f827565197dda3123fd627dfce77e9e4"></div>
                        </center>
                        <div id="cyEmoji" role="cylabs" data-use="emoji" sid="f827565197dda3123fd627dfce77e9e4"></div>
                        <script type="text/javascript" charset="utf-8"
                                src="https://changyan.itc.cn/js/lib/jquery.js"></script>
                        <script type="text/javascript" charset="utf-8"
                                src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cyunEjeMT"></script>
                        <!--PC版-->
                        <div id="SOHUCS" sid="5eab7e4c363e4cb8bed0efa3604e6b42"></div>
                        <script charset="utf-8" type="text/javascript"
                                src="http://changyan.sohu.com/upload/changyan.js"></script>
                        <script type="text/javascript">
                            window.changyan.api.config({
                                appid: 'cysPwLFm1',
                                conf: 'prod_6c6350e206c502f569b865b4bf121e60'
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 w_main_right">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">博苑推荐</h3>
                    </div>
                    <div class="panel-body" style="padding-bottom: 0px;" ng-repeat="flinkLabel in flinks"
                         ng-if="flinkLabel.fltype=='博苑推荐'">
                        <ul class="list-unstyled sidebar" style="margin-bottom: 5px;margin-top: -10px;"
                            ng-if="flinkLabel.flstatus==1">
                            <li>
                                <a href="{{flinkLabel.flink}}" target="_blank">{{flinkLabel.flname}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">友情链接</h3>
                    </div>
                    <div class="panel-body" style="padding-bottom: 0px;" ng-repeat="flinkOne in flinks"
                         ng-if="flinkOne.fltype=='友情链接'">
                        <div class="newContent" style="margin-top: -10px;"
                             ng-if="flinkOne.flstatus==1">
                            <ul class="list-unstyled sidebar shiplink">
                                <li><a href="{{flinkOne.flink}}" target="_blank">{{flinkOne.flname}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="w_foot" th:replace="/page/footer :: footer">
</div>
<!--toTop-->
<script type="text/javascript" src="js/totop.js"></script>
</body>
</html>